.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;

  border-radius: 50%;

  font-family: inherit;
  font-size: 0.95rem;
}

.primary {
  background: transparent;
}

.icon {
  background: transparent;
}

.iconElement {
  width: 3rem;
  height: 3rem;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
