@font-face {
  font-family: "TiltWarp";
  src: url("../assets/fonts/TiltWarp.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Jakarta";
  src: url("../assets/fonts/PlusJakartaSans.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-primary: #0b0b0c;
  --color-secondary: #00d1ff;
  --color-accents: #6339f0;
  --color-text: #f4f4f9;

  --font-tilt-warp: "TiltWarp", system-ui;
  --font-jakarta: "Jakarta", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-jakarta);
  color: var(--color-text);
  background-color: var(--color-primary);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

