.wrapper {
  width: 100%;
  min-height: 100dvh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1.5rem, 4vw, 2.5rem); /* espacio fluido */
  text-align: center;
  animation: float 10s ease-in-out infinite;
}

.title {
  font-weight: 500;
  font-family: "Jakarta", sans-serif;
  font-size: clamp(1.4rem, 3vw, 2rem);
  max-width: 600px;
  line-height: 1.3;
}

.button {
  font-weight: bold;
  font-weight: clamp(1rem, 3vw, 0.9rem);
  background: #00d1ff !important;
  border-radius: 999px !important;
  padding: clamp(0.7rem, 2vw, 0.9rem) clamp(1.2rem, 3vw, 2rem);
  box-shadow: 4px 4px 1.3px 0px #00d1ff80;
  transition: all 0.2s ease;
  animation: breathe 6s ease-in-out infinite;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 6px 6px 12px rgba(0, 209, 255, 0.6);
}

.logo {
  width: clamp(220px, 40vw, 428px);
  height: auto;
}
@keyframes breathe {
  0%,100%{
    transform: scale(1);
    filter: drop-shadow(0 0 6px rgba(0,209,255,0.3));
  }

  50%{
    transform: scale(1.03);
    filter: drop-shadow(0 0 14px rgba(99,57,240,0.6));
  }
}
@keyframes float {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY(-20px); }
}