.wrapper {
  width: 100%;
  max-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
  padding-top: 3rem;
  padding-inline: 1.5rem;
  background: url("../assets/images/background-page8.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  animation: float 10s ease-in-out infinite;
  overflow-y: hidden;
}

.title {
  font-family: "TiltWarp", sans-serif;
  font-size: clamp(1.7rem, 3.5vw, 4rem);
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.titleSecondary {
  color: var(--color-secondary);
}

.description {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-style: italic;
  font-weight: 300;
  text-align: center;
  max-width: 800px;
  margin-bottom: 3.5rem;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

@keyframes float {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY(-20px); }
}
@keyframes float-mobile {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY( -10px); }
}

@media (max-width: 899px) {
  .wrapper{
    animation: float-mobile 10s ease-in-out infinite;
    padding-top: 0rem;
  }
  .title {
    font-size: 1.8rem;
  }

  .features {
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}

@media (max-width:480px){

  .features {
    width: 90%;
  }

}