.wrapper {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: 1fr;
  height: 100vh;
  align-items: center;
  justify-items: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.textRight {
  grid-template-areas: "anim anim anim anim anim text text";
  padding-right: 10%;
  padding-left: 5%;
}

.textLeft {
  grid-template-areas: "text text anim anim anim anim anim";
  padding-right: 5%;
  padding-left: 10%;
}

.animation {
  grid-area: anim;
  height: 100%;
  max-height: 100vh;
  width: 90%;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  animation: float 10s ease-in-out infinite;
}

.textContent {
  grid-area: text;
  justify-self: stretch;
  align-self: start;
  margin-top: 9rem;
  margin-bottom: auto;
  max-width: 100%;
}

.textRight .textContent {
  text-align: right;
  justify-items: end;
}

.textLeft .textContent {
  text-align: left;
  justify-items: start;
}

.title {
  font-family: var(--font-tilt-warp);
  font-size: clamp(2.5rem, 4vw, 6rem);
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

.subtitle {
  position: relative;
  width: 150%;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-style: italic;
}

.highlight {
  color: var(--color-secondary);
}

.features {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: clamp(1.3rem, 1.7vw, 2rem);
}

.textRight .features {
  align-items: flex-end;
}
.textLeft .features {
  align-items: flex-start;
}

.features p:hover {
  color: var(--color-secondary);
  cursor: default;
  font-size: clamp(1.4rem, 1.8vw, 2.1rem);
  transition: color 0.2s ease;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes float-mobile {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    justify-content: start;
    padding-left: 10%;
    height: 100vh;
  }

  .animation {
    height: 50vh;
    width: 80%;
    overflow: visible;
  }

  .textContent {
    margin-top: 6rem;
    animation: float-mobile 10s ease-in-out infinite;
    text-align: center;
    justify-items: center;
  }

  .title {
    text-align: center;
    width: 100%;
    margin-inline-start: 0;
  }

  .subtitle {
    width: 100%;
    text-align: center;
  }

  .textRight .features,
  .textLeft .features {
    align-items: center;
    text-align: center;
    margin-inline: auto;
    margin-top: 3rem;
    font-size: clamp(1.2rem, 1.7vw, 2rem);
    gap: 0.5rem;
  }
}
