.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: url("../assets/images/background-page10.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.planet {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.ring {
  position: absolute;
  width: 98%;
  top: 30%;
  opacity: 0.5;
  animation: float 14s ease-in-out infinite;
  animation-delay: 0s;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  animation: float 10s ease-in-out infinite;
  animation-delay: 1s;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-family: var(--font-tilt-warp);
  font-size: clamp(2rem, 3.5vw, 4rem);
  letter-spacing: 2px;
}

.highlight {
  color: var(--color-secondary);
}

.subtitle {
  font-size: clamp(1.2rem, 1.8vw, 2rem);
  opacity: 0.8;
}

.button {
  font-weight: bold;
  font-size: clamp(0.9rem, 3vw, 1rem);
  background: var(--color-secondary);
  border-radius: 999px !important;
  padding: clamp(0.7rem, 2vw, 0.9rem) clamp(1.2rem, 3vw, 2rem);
  box-shadow: 4px 4px 1.3px 0px #00d1ff80;
  transition: all 0.2s ease;
  animation: breathe 6s ease-in-out infinite;
  margin-top: 3rem;
  width: fit-content;
  margin-inline:auto;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 6px 6px 12px rgba(0, 209, 255, 0.6);
}

@keyframes float {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes breathe {
  0%,100%{
    transform: scale(1);
    filter: drop-shadow(0 0 6px rgba(0,209,255,0.3));
  }
  50%{
    transform: scale(1.03);
    filter: drop-shadow(0 0 14px rgba(99,57,240,0.6));
  }
}

@media (max-width:1024px){
  .wrapper{
    padding-inline: 1rem;
    background-size: cover;
  }
  
  .content{
    top: 10%;
  }


}

@media (max-width:768px){
  .content{
    top: 0;
  }
  .title{
    width: 95%;
    margin-inline: auto;
  }
  .subtitle{
    width: 90%;
    margin-inline: auto;
  }
  .planet{
    width: 200%;
    top:20%;
    left: unset;
    right: -5%;
    transform: rotate(90deg);
    opacity: 0.6;
  }

  .ring{
    display: none;
  }
  
}

@media (max-width:480px){
  .button{
    font-size: 0.85rem;
    padding: 0.7rem 1.4rem;
  }

}